@import 'tailwindcss';
@layer components {
    .btn-product {
        @apply px-6 py-3 text-center font-medium text-white bg-emerald-600 w-full rounded-md shadow;
    }
    .btn-product:hover {
        @apply bg-emerald-700;
        transform: translateY(-2px);
    }

    .btn-nav {
        @apply bg-transparent border border-white px-4 py-2 font-medium text-white lg:px-4 rounded-md;
    }
    .btn-nav:hover {
        @apply bg-white text-green-700;
    }

    .form-label {
        @apply block text-sm;
    }

    .form-input {
        @apply block w-full mt-1 px-4 py-2 border font-light focus:outline-none focus:border-gray-500 sm:text-sm;
    }

    .form-button {
        @apply w-full flex justify-center py-3 px-4 text-sm font-medium text-white bg-emerald-600 rounded-md shadow transition-all;
    }
    .form-button:hover {
        @apply bg-emerald-700;
        transform: translateY(-2px);
    }

    .form-container {
        @apply bg-white rounded-lg shadow-md p-8 border-l-4 border-emerald-600;
    }

    .btn-cart {
        @apply flex items-center;
    }
    .btn-cart-quantity {
        @apply ml-2 text-sm font-medium;
    }
    .checkout-figure-img {
        @apply w-24 h-24 rounded-lg object-center object-cover sm:w-32 sm:h-32;
    }

    .card {
        @apply bg-white border rounded-lg overflow-hidden shadow-sm transition-transform transform;
    }
    .card:hover {
        transform: translateY(-6px);
    }
    .card-img-container {
        @apply bg-gray-100 p-4;
    }
    .card-img {
        @apply w-full h-56 object-center object-cover rounded-md;
    }
}